* {
    box-sizing: border-box;
    --animate-repeat: 1;
}
html {
    font-size: 62.5%;
}
.body {
    font-size: 1.6rem;
    overflow-x: hidden;
    font-family: "Open Sans", sans-serif;
}
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}
.header-stiky {
    padding-top: 19px;
    background-color: #fff;
    position: sticky;
    top: -11px;
    z-index: 999;
    padding-bottom: 8px;
}
.header-inner {
    display: flex;
    align-items: center;
}
.nav {
    display: flex;
    gap: 48px;
    margin-left: 70px;
    cursor: pointer;
    margin-right: 454px;
}
.nav-item {
    color: #696d76;

    text-align: center;
    font-family: "Open Sans";
    font-size: 1.6rem;

    font-weight: 400;
    line-height: 1.75; /* 175% */
    transition: font-weight 0.2s, color 0.2s;
}
.nav-item-active {
    color: #212832;
    position: relative;
    text-align: center;
    font-family: "Open Sans";
    font-size: 1.6rem;

    font-weight: 600;
    line-height: 1.75; /* 175% */
}
.nav-item-active::before {
    content: "";
    position: absolute;
    width: 47px;
    left: 0;
    bottom: 0;
    height: 2px;
    border-radius: 0.5px;
    background: #7264d6;
}
.nav-item:hover {
    color: #212832;
    font-weight: 600;
}
.header-inner-link {
    display: flex;
    align-items: center;
}
.header-inner-log-in {
    color: #212832;
    width: 47px;
    margin-right: 28px;
    cursor: pointer;

    text-align: center;
    font-family: "Open Sans";
    font-size: 1.6rem;

    font-weight: 600;
    line-height: 1.75; /* 175% */
}
.header-inner-sign-up {
    width: 113px;
    height: 52px;
    cursor: pointer;

    border-radius: 6px;
    background: #212832;
    color: #fff;

    text-align: center;
    font-family: "Open Sans";
    font-size: 1.6rem;

    font-weight: 600;
    line-height: 1.75; /* 175% */
}

.hero-inner {
    display: flex;
}
@keyframes left {
    0% {
        transform: translateX(-2000px) scale(0.7);
        opacity: 0.7;
    }
    80% {
        transform: translateX(0) scale(0.7);
        opacity: 0.7;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes right {
    0% {
        transform: translateX(2000px) scale(0.7);
        opacity: 0.7;
    }
    80% {
        transform: translateX(0) scale(0.7);
        opacity: 0.7;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
.hero-left-title {
    animation: left 1s;
    color: #696d77;
    display: flex;
    align-items: center;
    font-family: "Open Sans";
    font-size: 1.6rem;
    margin-left: 12px;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}
.hero-left-title::before {
    content: "";

    margin-right: 12px;
    width: 18px;
    height: 2px;

    background: #696d77;
}
.hero-left-heading {
    animation: left 1s;
    width: 500px;
    color: #212832;
    font-family: "Open Sans";
    font-size: 6rem;
    margin-top: 12px;
    font-weight: 700;
    line-height: 1.16; /* 116.667% */
}
@keyframes strong {
    100% {
        color: #7264d6;
    }
}
.hero-left-impotant {
    animation: strong 0.7s infinite;
    color: #212832;
    font-family: "Open Sans";
    font-size: 6rem;

    font-weight: 700;
    line-height: 1.16; /* 116.667% */
}
.hero-left-desc {
    width: 540px;
    color: #696d76;
    animation: left 1s;
    opacity: 0;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    font-family: "Open Sans";
    font-size: 1.8rem;
    margin-top: 20px;
    font-weight: 400;
    line-height: 1.66; /* 166.667% */
}
.hero-left-input-btn {
    animation: left 1s;
    opacity: 0;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 540px;
    height: 74px;
    /* padding: 23px 0 23px 23px; */
    border-radius: 8px;
    background: #fff;

    box-shadow: 0px 16px 42px 0px rgba(0, 0, 0, 0.07);
}
.hero-left-input {
    border: none;
    outline: none;
    padding: 23px 0 23px 23px;
    color: #696d76;

    font-family: "Open Sans";
    font-size: 1.6rem;

    font-weight: 400;
    line-height: 1.75; /* 175% */
}
.hero-left-input:not(:placeholder-shown) {
    color: black;
}
@keyframes strong-2 {
    100% {
        background-color: #7264d6;
    }
}
.hero-left-btn {
    width: 149px;
    height: 58px;
    animation: strong-2 1s infinite;
    border-radius: 8px;
    background: #212832;

    color: #fff;

    font-family: "Open Sans";
    font-size: 1.6rem;

    font-weight: 600;
    line-height: 1.75; /* 175% */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    cursor: pointer;
}
@keyframes hero-left-warning {
    100% {
        opacity: 1;
    }
}
.hero-left-warning {
    width: 354px;
    opacity: 0;
    animation: hero-left-warning 1s;
    animation-fill-mode: forwards;
    animation-delay: 3s;

    margin-top: 20px;
    color: #696d76;

    font-family: "Open Sans";
    font-size: 1.4rem;

    font-weight: 600;
    line-height: 1.72; /* 171.429% */
}
.hero-left {
    margin-top: 145px;
    animation: fake-left 1s 1;
}
@keyframes fake-left {
    from {
        transform: translateX(-100px);
    }
    to {
        transform: translateX(0);
    }
}

.hero-right {
    margin-left: 160px;

    margin-top: 88px;
}
.hero-right-list {
    position: relative;
    animation: right 1s;
}
.hero-right-img-10:hover {
    filter: drop-shadow(0 0 5px #7264d6);
}
.hero-right-decor-1 {
    animation: fake-hero-right-decor-1 1s 1;
    animation-fill-mode: forwards;

    animation-delay: 1s;
    width: 174px;
    position: absolute;
    visibility: hidden;
    left: -100px;
    top: 113px;
    height: 46px;
    flex-shrink: 0;
    border-radius: 6px;
    background: #fff;

    display: flex;
    align-items: center;
}
.hero-right-decor-1:hover {
    filter: drop-shadow(0 0 5px #7264d6);
}
.hero-right-decor-2:hover {
    filter: drop-shadow(0 0 5px #7264d6);
}
.hero-right-decor-3:hover {
    filter: drop-shadow(0 0 5px #7264d6);
}
@keyframes fake-hero-right-decor-1 {
    from {
        transform: translateY(-113px);
        visibility: visible;
    }
    to {
        transform: translateY(0);
        visibility: visible;
    }
}

.hero-right-decor-2 {
    animation: fake-hero-right-decor-2 1s 1;
    display: flex;
    position: absolute;
    top: 127px;
    animation-fill-mode: forwards;
    animation-delay: 2s;
    opacity: 0;
    right: -174px;

    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: #da6464;
}
@keyframes fake-hero-right-decor-2 {
    0% {
        transform: perspective(2500px) rotateY(-100deg);
        opacity: 1;
    }
    100% {
        transform: perspective(2500px) rotateY(0);
        opacity: 1;
    }
}

.hero-right-decor-3 {
    opacity: 0;
    visibility: hidden;
    animation: fake-hero-right-decor-3 1s forwards ease-in-out;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    width: 124px;

    position: absolute;
    top: 433px;
    left: 246px;
    padding: 20px 15px 22px 14px;
    display: flex;
    align-items: center;
    height: 68px;

    border-radius: 10px;
    background: #439f90;
}

@keyframes fake-hero-right-decor-3 {
    0% {
        opacity: 0;
        visibility: hidden;
        transform: translateY(61px);
    }
    10% {
        opacity: 1;
        visibility: visible;
        transform: translateY(61px);
    }

    100% {
        opacity: 1;
        visibility: visible;
        transform: translateY(0px);
    }
}
.hero-right-heading {
    color: #31456a;
    margin-left: 8px;
    font-family: "Open Sans";
    font-size: 1.4rem;
    margin-top: 10px;
    font-weight: 600;
    line-height: 1; /* 100% */
}
.hero-right-money {
    color: #4ab5e3;
    margin-left: 19px;
    font-family: "Open Sans";
    font-size: 1.4rem;
    margin-top: 10px;
    font-weight: 400;
    line-height: 1; /* 100% */
}
.hero-right-decor-1-img {
    margin-left: 10px;
}
.hero-right-percent {
    color: #fff;

    font-family: "Open Sans";
    font-size: 4.4rem;

    font-weight: 600;
}
.hero-right-title {
    color: #fff;

    font-family: "Open Sans";
    font-size: 1.6rem;
    font-weight: 400;
}
.hero-right-dollars-desc {
    display: flex;
    margin-left: 11px;
    flex-direction: column;
}
.hero-right-dollars {
    color: #fff;

    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 600;
    line-height: 1; /* 100% */
}
.hero-right-desc {
    color: #fff;

    font-family: "Open Sans";
    font-size: 8px;
    font-weight: 400;
    line-height: 1; /* 100% */
}
.service {
    margin-top: 160px;
}
.service-inner {
    display: flex;
}
.service-left {
    width: 470px;
}
.service-left-position {
    position: relative;
    animation: left 1s;
}
.service-left-img-01 {
    display: block;
}
.service-left-img-02 {
    position: absolute;
    left: -7px;
    z-index: -1;
    right: -7px;
    top: 73px;
}
.service-left-img-03 {
    position: absolute;
    top: 76px;
    right: 55px;
    left: 337px;
}
.service-left-img-04 {
    position: absolute;
    top: 453px;
    right: -107px;
    left: 337px;
    width: 226px;
    height: 70px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    background: #fffdfa;
    padding: 16px 30px 17px 15px;
    box-shadow: 0px 14px 34px 0px rgba(0, 0, 0, 0.07);
}
.service-left-title-desc {
    margin-left: 10px;
}
.service-left-title {
    color: #212832;

    font-family: Inter;
    font-size: 1.4rem;

    font-weight: 600;
}
.service-left-desc {
    color: #696d76;

    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 131px;
}
.service-right {
    margin-left: 130px;
    padding: 29px;

    width: 470px;
}
.service-right-item-01,
.service-right-item-02,
.service-right-item-03 {
    margin-top: 30px;
}
.service-right-item-01 {
    animation: right 1s;
    animation-delay: 2s;
    opacity: 0;

    animation-fill-mode: forwards;
}
.service-right-item-02 {
    animation: right 1s;
    animation-delay: 3s;
    opacity: 0;

    animation-fill-mode: forwards;
}
.service-right-item-03 {
    animation: right 1s;
    animation-delay: 4s;
    opacity: 0;

    animation-fill-mode: forwards;
}
.service-right-animator {
    animation: right 1s;
    animation-delay: 1s;
    opacity: 0;

    animation-fill-mode: forwards;
}
.service-right-title {
    color: #696d77;
    position: relative;
    font-family: "Open Sans";
    margin-left: 24px;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}
.service-right-title::before {
    content: "";
    position: absolute;
    width: 18px;
    top: 13px;
    left: -23px;
    height: 2px;

    background: #696d77;
}
.service-right-heading {
    margin-top: 12px;
    width: 294px;
    color: #212832;

    font-family: "Open Sans";
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.25; /* 125% */
}
.service-right-list {
    margin-top: 70px;
}
.service-right-document {
    width: 470px;
    color: #212832;

    font-family: "Open Sans";
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.45; /* 145.455% */
    transition: color 0.2s;
}
.service-right-document:hover {
    color: #7264d6;
}
.service-right-desc {
    margin-top: 16px;
    width: 470px;
    color: #696d76;

    font-family: "Open Sans";
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}
